<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
</div>

<div class="container p-4 d-md-flex">
  <!-- ? Form -->
  <div class="col-md-6 pe-md-1 pb-2">
    <div class="card card-body">
      <form (submit)="submitLocation(cityName, countryCode)">
        <div class="mb-3">
          <label for="" class="form-label">City</label>
          <input
            type="text"
            class="form-control"
            placeholder="Tlaxcala"
            #cityName
          />
          <small id="helpId" class="text-muted">City Name</small>
        </div>

        <div class="mb-3">
          <label for="" class="form-label">Country</label>
          <input
            type="text"
            class="form-control"
            placeholder="MX"
            #countryCode
          />
          <small id="helpId" class="text-muted">Country Code</small>
        </div>

        <button type="submit" class="btn btn-primary">Get Weather</button>
      </form>
    </div>
  </div>

  <!-- ? Info -->
  <div class="col-md-6 ps-md-1">
    <div class="card card-body" *ngIf="weather">
      <p>Temperature: {{ weather.main.temp }} <sup>°C</sup></p>
      <p>Longitude: {{ weather.coord.lon }}</p>
      <p>Latitude: {{ weather.coord.lat }}</p>
      <p>Humidity: {{ weather.main.humidity }}</p>
      <p>Pressure: {{ weather.main.pressure }}</p>
      <p>Description: {{ weather.weather[0].description }}</p>
    </div>
  </div>
</div>
